*{
    margin: 0px;
    border: none;
    padding: 0px;
    color: #213555;
}
#navbar{
    position: sticky;
    top: 0;
    display:flex;
    flex-direction: column;
    padding: 20px;
    background-color: #ffff;
    box-shadow: 0 2px 4px #00000026; 
}
#authStrip{
    display:flex;
    justify-content: flex-end;
}
#authStrip a{
    text-decoration: none;
}

.authBtn{
    margin-inline-end: 30px;
    text-align: center;
    width: 70px;
    padding: 10px;
    border-radius: 20px;
    /* background-color: rgb(8, 111, 237); */
    background-color: #4F709C;
    color: #ffff;
}

.navItems{
    display: grid;
    grid-template-columns: 3fr 2fr 0.5fr;
    margin-inline: 50px;
    margin-block: 20px;
    align-items: center;
}
.navItems a{
    text-decoration: none;
}
#searchBar{
    display: flex;
    height: 50px;
}
#searchText:focus{
    outline: none;
}
#searchText,#searchBtn,.dummyele1,.dummyele2{
    /* background-color: rgb(241, 235, 235); */
    /* background-color: #D8C4B6; */
    background-color: #e7edf4;
    padding: 10px;
    font-size: 1.25rem;
}
.dummyele1{
    border-radius: 0px 0px 0px 20px;
}
.dummyele2{
    border-radius: 0px 20px 0px 0px;
}
#logo{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
}   
#profile{
    width:100%;
    display: flex;
    justify-content: right;
    align-items: center;

}
#username-display{
    font-family:'Arial Narrow Bold', sans-serif;
    margin-inline: 20px;
}
#mainContainer{
    margin:auto;
    width:90%;
    display: flex;
    padding:20px;
    /* background-color: #F8F6F4; */
}
#blogList{
    padding: 20px;
    width:70%;
    margin-inline-end: 50px;
}
.blogs,.suggestionBlogs{
    padding: 20px;
    margin: auto;
    width: fit-content;
    background-color:#ffff ;
    margin-block: 15px;
    border-radius: 10px;
    box-shadow: #8888 5px 5px;
}
.suggestionBlogs{
    border:#8888 solid 2px;
    width:fit-content;
    font-size: 1.5rem;
}
#suggestionBlogsList{
    box-shadow: #8888 -5px 5px;
    margin-top: 40px;
    background-color: #c0c5cd;
    height: fit-content;
    padding: 15px;
    border-radius: 20px;
}
body{
    background-color: #e7edf4;
    color: #213555;
}
#abc{
    padding: 50px;
    font-size: 2rem; 
    font-family:'Arial, sans-serif';
    margin: 20px;
}
.suggestionBlogTitle{
    width:80%;
    padding: 10px;
    font-size: 1.25rem;
}
.blogTitle{
    font-size: 2rem;
    font-weight: bold;
}
.blogs:hover,.suggestionBlogs:hover{
    cursor: pointer;
}
#footer{
    height:fit-content;
    background-color: #213555;
    color: #ffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-block: 60px;
    padding-inline: 90px;
    align-items: center;
    font-size: 1.2rem;
    line-height: 30px;
}
.fa {
    padding: 10px;
    font-size: 2rem;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    margin-inline-end: 10px;
    margin-block: 10px;
    border-radius: 50%;
  }
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-instagram{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    color: white;
  }
.fa-linkedin{
    background: #0077b5;
    color: white;
}
.col2{
    padding: 20px;
    font-size: 1.5rem;
}